<%= form_for(@epoll) do |f| %>
  <% if @epoll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@epoll.errors.count, "error") %> prohibited this poll from being saved:</h2>

      <ul>
      <% @epoll.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= notice %>
<%= alert%>
<h2>Poll Settings</h2>
  <div class="field">
    <%= f.label :question %><br />
    <%= f.text_field :question %>
  </div>
  <div class="field">
    <%= f.label :timeout %><br />
    <%= f.datetime_select :timeout %>
  </div>
  <!--<div class="field">
    f.label :status <br />
    f.text_field :status 
  </div> -->
  <!--<div class="field">
     f.label :user_id <br />
     f.number_field :user_id
  </div> -->

  <h2>Options</h2>
  <div class="items">
    <%= f.nested_fields_for :options do |f1| %>
      <fieldset class="item">
        <%= f1.label :name %>
        <%= f1.text_field :name %>

        <a href="#" class="remove"  data-confirm="Are you sure?" >remove</a>

        <%= f1.hidden_field :id %>
        <%= f1.hidden_field :_destroy %>
      </fieldset>
    <% end %>
  </div>
  <a href="#" class="add">+ Option</a>
 


  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

<script>
$(document).ready(function(e) {
	
		  
	
  $('form').nestedFields({
});
});</script>
