<%= nested_form_for(@epoll) do |f| %>
  <% if @epoll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@epoll.errors.count, "error") %> prohibited this poll from being saved:</h2>

      <ul>
      <% @epoll.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= notice %>
<%= alert%>
<h2>Poll Settings</h2>
  <div class="field">
    <%= f.label :question %><br />
    <%= f.text_field :question %>
  </div>
  <div class="field">
    <%= f.label :timeout %><br />
    <%= f.datetime_select :timeout %>
  </div>
  <!--<div class="field">
    f.label :status <br />
    f.text_field :status 
  </div> -->
  <!--<div class="field">
     f.label :user_id <br />
     f.number_field :user_id
  </div> -->


  <h2>Options</h2>

<%= f.fields_for :options do |op| %>
  <%= op.text_field :name %>
  <%= op.link_to_remove "Remove" %>
<% end %>
<p><%= f.link_to_add "Add a task", :options %></p>
 


  <div class="actions">
    <%= f.submit %>
<div class="min-text"></div>
  </div>

<% end %>

<script>
$(document).ready(function() {
$('form').on('nested:fieldRemoved', function(event) {
  	var numOfVisibleRows = $('.fields').filter(function() {
	  return $(this).css('display') !== 'none';
	}).length;
	if (numOfVisibleRows < 2 )
	{
		 $('.min-text').text("Must have atleast 2 options to save this poll");
		 $('.actions input').attr("disabled", true);
	}
	else
	{
		 $('.actions input').attr("disabled", false);
	}
})

$('form').on('nested:fieldAdded', function(event) {
  	var numOfVisibleRows = $('.fields').filter(function() {
	  return $(this).css('display') !== 'none';
	}).length;
	if (numOfVisibleRows < 2 )
	{
		 $('.min-text').text("Must have atleast 2 options to save this poll");
		 $('.actions input').attr("disabled", true);
	}
	else
	{
		 $('.actions input').attr("disabled", false);
	}
})
});
</script>
