<br/><div class="center-text"><p id="notice"><%= notice %></p></div>



<br/> <br/> <div class="poll_icon"><%= @epoll.question %></div>

<div class="indent_little">
  Poll by @<%= @whichuser %> on <%=@epoll.created_at.to_date.to_formatted_s(:long_ordinal)%>.
</div>


<div class="form_row">
	<br/><br/><br/>


<%= semantic_form_for @vote do |f| %>
  <%= f.inputs do%>
   <%= f.input :option_id, :as => :radio , :collection => @epoll.options, :label => ""%>

<%end%>

<%unless vote_has_been_cast?%>
  <%= f.actions %>
<%else%>
<div class="center-text">
You've already cast your vote </div>
<%end%>

<% end %>

</div>

<br/>
<div class="center-text">
<p>
  This poll ends on <%= @epoll.timeout.to_date.to_formatted_s(:long_ordinal) %>.





<%= link_to 'Edit', edit_epoll_path(@epoll) %> |
<%= link_to 'Back to all polls', epolls_path %></p></div>
