<p id="notice"><%= notice %></p>



<h2> Question</h2>
<p>
  <b>Question:</b>
  <%= @epoll.question %>
</p>

<p>
  <b>Created by:</b>
  <%= @whichuser %>
</p>


<div class="form_row">
<h2>Options</h2>


<%= semantic_form_for @vote do |f| %>
  <%= f.inputs do%>
   <%= f.input :option_id, :as => :radio , :collection => @epoll.options%>
<%end%>

<%unless vote_has_been_cast?%>
  <%= f.actions %>
<%else%>
You've already cast your vote 
<%end%>

<% end %>

</div>

<br/>
<h2>Settings and Status</h2>
<p>
  <b>Timeout:</b>
  <%= @epoll.timeout %>
</p>

<p>
  <b>Status:</b>
  <%= @epoll.status %>
</p>






<%= link_to 'Edit', edit_epoll_path(@epoll) %> |
<%= link_to 'Back', epolls_path %>
