<div class="center-text"><h2>Sign up with twitter</h2></div>
<br/><br/><br/>
<div class="center-div">
<%if session[:omniauth]%>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

<!--<%unless session[:omniauth]%>
  <%= devise_error_messages! %>
<%else%>
We'll need some basic information from you to protect your identity.
<%end%>-->

We'll need some basic information from you to protect your identity, send you updates on your polls and more!
  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%else%>
<% unless @authentications%>

<a href="/auth/twitter" class="auth_provider">
  <%= image_tag "twitter-bird-callout.png", :size => "140x114", :alt => "Twitter" %>

</a>
<%end%>

<%end%>
</div>