<!DOCTYPE html>
<html>
<head>
  <title>Polled - Your one stop polling destination!</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<link href='http://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
</head>
<body>

<div id ="navbar">

<div id ="settingsmenu"><div id="drop_icon"></div><br/>
	<div class="openmenu">
	<ul>
		<%if user_signed_in?%>
		<li><%= link_to "New Poll", new_epoll_path%></li>
	<li><%= link_to "My Polls", mypolls_path%></li>
	<%end%>
	
	<li><%= link_to "All Polls", epolls_path%></li>
	<li><%= link_to "Trending Polls", trending_path%></li>
	<%if user_signed_in?%>
	<li><%= link_to "Settings", edit_user_registration_path%></li>
	<%end%>
	</ul></div>
	</div>

<%if user_signed_in?%>
<div id ="loginmenu">You are logged in as <%=current_user.email%>. <%= link_to "Logout?", destroy_user_session_path, method: :delete%></div>
<%else%>
<div id="loginmenu"><%=link_to "Login", new_user_session_path%> | <%=link_to "Register", new_user_registration_path%></div>
<%end%>
<a href="http://www.polled.net"><div id="logo"></div></a>
</div>
<div class ="container">
<%= yield %>

</div>
<div class="footer">
	&copy;Polled 2013. <br/><br/></div>

</body>
</html>
