<!DOCTYPE html>
<html>
<head>
  <title>Polled - Your one stop polling destination!</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id ="navbar">
<%if user_signed_in?%>
<div id ="settingsmenu"><div id="drop_icon"></div><br/>
	<div class="openmenu">
	<ul>
	<li><%= link_to "My Polls", mypolls_path%></li>
	<li><%= link_to "All Polls", epolls_path%></li>
	<li><%= link_to "Trending Polls", mypolls_path%></li>
	<li><%= link_to "Settings", edit_user_registration_path%></li>
	</ul></div>
	</div>
<%end%>
<%if user_signed_in?%>
<div id ="loginmenu">You are logged in as <%=current_user.email%>. <%= link_to "Logout?", destroy_user_session_path, method: :delete%></div>
<%else%>
<div id="loginmenu"><%=link_to "Login", new_user_session_path%> | <%=link_to "Register", new_user_registration_path%></div>
<%end%>
<a href="http://www.polled.net"><div id="logo"></div></a>
</div>
<div class ="container">
<%= yield %>

</div>
<div class="footer">
	&copy;Polled 2013. <br/><br/></div>

</body>
</html>
